.slideBarBox {
  position: absolute;
  top: 166px;
  right: 370px;
  width: 36px;
  height: 200px;
  overflow: hidden;
  z-index: 2;
  background-color: #ffffff;
}
.slideBar_barH {
  position: absolute;
  top: 35px;
  width: 36px;
  height: 1px;
  background: #c1c7cd;
}
.slideBarUp {
  position: relative;
  width: 35px;
  height: 35px;
  bottom: 3px;
  font-size: 42px;
  text-align: center;
  cursor: pointer;
}
.slideBar {
  position: relative;
  right: 39px;
  top: 8px;
  width: 110px;
  height: 110px;
  transform: rotate(270deg);
}

.slideBarDown {
  position: relative;
  width: 35px;
  height: 35px;
  top: 5px;
  font-size: 48px;
  text-align: center;
  cursor: pointer;
}
