.container {
  position: absolute;
  height: 970px;
  width: 335px;
  top: 95px;
  left: 20px;
  background-color: rgb(255, 255, 255);
  font-family: "NanumSquare";
  font-style: normal;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  z-index: 2;
}
.mainTitle {
  position: absolute;
  height: 20px;
  left: 20px;
  top: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: #4d5358;
}
.bar {
  position: absolute;
  height: 2px;
  width: 295px;
  left: 20px;
  top: 45px;
  background: linear-gradient(
    to right,
    #027fc2 0% 70%,
    #34a0da7e 70% 93%,
    white 93% 94%,
    #045b8a 94% 100%
  );
}
.boxs {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-content: space-between;
  height: 835px;
  width: 295px;
  top: 67px;
  left: 20px;
}

.boxs > div {
  position: relative;
  box-sizing: border-box;
  width: 295px;
  height: 265px;
  background: #ffffff;
  border: 1px solid #dde1e6;
  border-radius: 3px;
}
.subTitle {
  position: relative;
  top: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #4d5358;
}
.EchartsBox {
  position: relative;
  height: 230px;
  width: 295px;
}

.nonSelect {
  position: absolute;
  bottom: 30px;
  left: 130px;
  background: #c1c7cd;
  transform: rotate(-90deg);
  border: 1px solid #c1c7cd;
  padding: 5px;
  border-radius: 2em;
}

.select {
  position: absolute;
  bottom: 30px;
  left: 130px;
  background: #027fc2;
  transform: rotate(-90deg);
  border: 1px solid #3b8c9a;
  padding: 7px;
  border-radius: 2em;
}
