<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      async function getIpClient() {
        try {
          const response = await axios.get("https://api.ipify.org?format=json");
          console.log(response);
        } catch (error) {
          console.error(error);
        }
      }

      getIpClient();
    </script>
  </body>
</html>
