.container {
  position: absolute;
  width: 335px;
  height: 455px;
  right: 20px;
  bottom: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  z-index: 2;
}
