.container {
  position: absolute;
  width: 335px;
  height: 500px;
  top: 95px;
  right: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  border-radius: 3px;
  font-family: "NanumSquare";
  font-style: normal;
  z-index: 2;
}
.bar_V {
  position: absolute;
  width: 5px;
  height: 44px;
  left: 10px;
  top: 8px;
  background: #027fc2;
}
.address_box {
  position: absolute;
  left: 20px;
  top: 10px;
}
.address_box > div:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #343a3f;
}
.address_box > div:nth-child(2) {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #4d5358;
}

.bar_H {
  position: absolute;
  width: 335px;
  height: 0px;
  top: 60px;
  border: 1px solid #349fda;
}
.container > li:nth-of-type(1) {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  left: 31px;
  top: 85px;
  color: #4d5358;
}
.container > li:nth-of-type(1)::marker {
  color: #027fc2;
}
.gps {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 30px;
  top: 111px;
}
.gps > div {
  position: relative;
  /* flex-wrap: wrap; */
  /* align-content: stretch; */
  flex-basis: 35px;
}
.gps > div > span:nth-child(1) {
  box-sizing: border-box;
  padding: 4px 12px;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #c1c7cd;
  border-radius: 10.5px;
}
.gps > div > span:nth-child(2) {
  position: absolute;
  width: 100px;
  height: 1px;
  top: 8px;
  background: #c1c7cd;
}
.gps > div > span:nth-child(3) {
  position: absolute;
  box-sizing: border-box;
  padding: 4px 15px;
  gap: 10px;
  left: 125px;
  bottom: 11px;
  background: #f2f4f8;
  border: 1px solid #c1c7cd;
  border-radius: 10.5px;
}
.container > li:nth-of-type(2) {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  left: 31px;
  top: 217px;
  color: #4d5358;
}
.deviceCondition > tbody > tr {
  position: relative;
  display: flex;
  align-items: center;
  left: 30px;
  top: 243px;
  box-sizing: border-box;
  width: 280px;
  height: 27px;
  border: 1px solid #dde1e6;
  border-radius: 3px;
  background: #ffffff;
  color: #697077;
}
.deviceCondition > tbody > tr > td:nth-child(1) {
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  left: 17px;
}
.deviceCondition > tbody > tr > td:nth-child(2) {
  position: absolute;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  left: 120px;
}
.bar_H2 {
  position: absolute;
  height: 3px;
  width: 130px;
  left: 103px;
  bottom: 135px;
  background: linear-gradient(
    to right,
    #349fda 0px 20px,
    white 20px 22px,
    #dde1e6 22px 42px,
    white 42px 44px,
    #dde1e6 44px 64px,
    white 64px 66px,
    #dde1e6 66px 86px,
    white 86px 88px,
    #dde1e6 88px 108px,
    white 108px 110px,
    #dde1e6 110px 130px
  );
}
.bar_H3 {
  position: absolute;
  width: 335px;
  height: 0px;
  top: 390px;
  border: 1px solid #349fda;
}
.subContainer {
  position: absolute;
  width: 335px;
  height: 110px;
  bottom: 0px;
  background: rgba(52, 159, 218, 0.1);
  border-radius: 0px 0px 3px 3px;
}
.subContainer > div {
  position: absolute;
  width: 295px;
  height: 82px;
  top: 15px;
  left: 20px;
}
.subContainer > div > div:nth-child(1) {
  position: absolute;
  height: 18px;
  left: 0.34%;
  right: 52.2%;
  top: calc(50% - 18px / 2 - 30px);
  opacity: 100;
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #027fc2;
}
.subContainer > div > div:nth-child(2) {
  position: absolute;
  left: 0.34%;
  right: -0.34%;
  top: 35.9%;
  bottom: -5.13%;

  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  text-align: justify;

  color: #027fc2;
}
